@model Young.Web.Models.CustomListModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebmasterLayout.cshtml";
}

<div style="width: 800px; margin: 0 auto;">
    <form action="/" method="post">
        <h1>列表</h1>
        <hr />
        <table class="edit-form" style="width: 100%;">
            <tr>
                <td class="txt-right">@Html.LabelFor(f => f.Name)</td>
                <td>@Html.EditorFor(f => f.Name)</td>
            </tr>
            <tr>
                <td class="txt-right txt-top">@Html.LabelFor(f => f.Description)</td>
                <td>@Html.TextAreaFor(f => f.Description)</td>
            </tr>
        </table>
        <h1>栏目</h1><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add">添加</a>
        <hr />
        <table class="edit-form" style="width: 100%;">
            <thead>
                <tr>
                    <th>列名</th>
                    <th>类型</th>
                    <th>描述</th>
                    <th>条件</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.EditorFor(f=>item.DisplayName)</td>
                        <td>@Html.EditorFor(f=>item.Type)</td>
                        <td>@Html.TextAreaFor(f=>item.Description,)</td>
                        <td>@Html.EditorFor(f=>item.Condition)</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="txt-center" style="margin-top:10px">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok">提交</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload">重置</a>
        </div>
    </form>
</div>
