@model Young.Web.Models.CustomList.TableDetailModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebmasterLayout.cshtml";
}
@section scripts{
    <script type="text/javascript">
       
        //删除列
        function deleteColumn(colCode) {
            $.messager.confirm('确认', '你确定要删除该列吗?', function(r) {
                if (r) {
                    $.ajax({
                            type: 'delete',
                            url: '/api/APICustomList',
                            data: {
                                CommandType: 'Delete',
                                ColumnCode: colCode,
                                Command: 'deletecolumn'
                            },
                            success: function() {
                                $('#table_' + colCode).remove();
                                $('#search_' + colCode).remove();
                                $('#list_' + colCode).remove();
                                
                            }
                        }
                    );
                }
            });
        }


        function resetDatabase() {
            $.messager.confirm('确认', '你确定要按照最新设置重置数据库吗?', function(r) {
                if (r) {
                    $.ajax({
                        type: 'post',
                        url: '/api/APICustomList?tcode=@Model.TableCode',
                        success: function() {
                            $.messager.alert('信息', '数据库重置完成。');
                        }
                    });
                }
            });
        }
    </script>
}
<div id="work-panel">
    <div class="module">
        <div class="icon-table title">
            自定义列表：@Model.TableName
            <a href="addColumn?tcode=@Model.TableCode&type=0" class="icon-table-add" >添加栏目</a>
            <a href="javascript:;" onclick="resetDatabase();" class="icon-database-refresh">重置数据库</a>
        </div>

        <table>
            <caption>现有栏目</caption>
            <thead>
                <tr>
                    <th style="width:200px;">栏目编号</th>
                    <th>栏目名称</th>
                    <th style="width:200px;">栏目类型</th>
                    <th style="width:300px;">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Columns)
                {
                    <tr id="table_@item.Code">
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                        <td>@Young.Util.EnumHelper.GetEnumDisplayText(item.ColumnType)</td>
                        <td>
                            <a href="editColumn?tname=@(Model.TableName)&code=@item.Code" class="easyui-linkbutton" iconcls="icon-table-edit"  plain="true">编辑</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-table-delete" onclick="deleteColumn('@item.Code')" plain="true">删除</a>
                            <a href="AddSearchColumn?tablecode=@(Model.TableCode)&colcode=@item.Code" class="easyui-linkbutton" iconcls="icon-zoom-in" plain="true">添加搜索</a>
                            <a href="AddListColumn?tablecode=@(Model.TableCode)&colcode=@item.Code" class="easyui-linkbutton" iconcls="icon-table-add" plain="true">列表显示</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <table id="tb-search">
            <caption>搜索栏目</caption>
            <thead>
                <tr>
                    <th style="width:200px;">栏目编号</th>
                    <th>栏目名称</th>
                    <th style="width:200px;">栏目类型</th>
                    <th style="width:300px;">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SearchColumns)
                {
                    <tr id="search_@item.Code">
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                        <td>@Young.Util.EnumHelper.GetEnumDisplayText(item.ColumnType)</td>
                        <td>
                            <a href="RemoveSearchColumn?tablecode=@(Model.TableCode)&colcode=@item.Code" class="easyui-linkbutton" iconcls="icon-table-delete"  plain="true">删除</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <table>
            <caption>列表显示栏目</caption>
            <thead>
                <tr>
                    <th style="width:200px;">栏目编号</th>
                    <th>栏目名称</th>
                    <th style="width:200px;">栏目类型</th>
                   <th style="width:300px;">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListColumns)
                {
                    <tr id="list_@item.Code">
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                        <td>@Young.Util.EnumHelper.GetEnumDisplayText(item.ColumnType)</td>
                        <td>
                            <a href="RemoveListColumn?tablecode=@(Model.TableCode)&colcode=@item.Code" class="easyui-linkbutton" iconcls="icon-table-delete" plain="true">删除</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

