<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/default/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style", required: false)

</head>
<body>

    <div id="head">
        Young
    </div>

    <div id="main" class="clear-fix">
        <div id="webmaster_layout" class="easyui-layout" style="width: 100%; height: 700px;">

            <div data-options="region:'west',split:true,iconCls:'icon-application-view-tile',maxWidth:160" title="功能区" style="width: 160px;">
                <div class="easyui-accordion" data-options="multiple:true,fit:false,border:false">
                    <div title="系统配置" data-options="iconCls:'icon-wrench'" style="overflow: auto;">
                        <ul class="left-nav">
                            <li>
                                <a class="icon-group" href="~/Membership/index">用户管理</a>
                            </li>
                            <li>
                                <a class="icon-status-online" href="~/Role/index">角色管理</a>
                            </li>
                            <li>
                                <a class="icon-table" href="~/CustomList/index">自定义列表</a>
                            </li>
                            <li>
                                <a class="icon-arrow-join" href="#">工作流设置</a>
                            </li>
                            <li>
                                <a class="icon-tag-blue-edit" href="~/Term/index">术语管理</a>
                            </li>
                            <li>
                                <a class="icon-plugin" href="#">自定义功能扩展</a>
                            </li>
                            <li>
                                <a class="icon-cog" href="~/SysConfig/index">系统设置</a>
                            </li>
                        </ul>
                    </div>
                    <div title="自定义列表" data-options="iconCls:'icon-table-multiple',collapsed:false" style="overflow: auto;">
                        <ul class="left-nav" id="custom-list">
                        </ul>
                    </div>
                </div>
            </div>
            <div data-options="region:'center',title:'工作区',iconCls:'icon-application-view-list'">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")

    <script>
        $(function () {
            //加载自定义列表
            $.get("/api/APICustomList", function (data) {
                $('#custom-list').empty();
                $.each(data, function (i, item) {
                    $('#custom-list').append('<li><a class="icon-table" href="/customlist/list/' + item.ID + '">' + item.Name + '</a></li>');
                });
            });
        });

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
