@model Young.Web.Models.CustomList.TableDetailModel

@{
    ViewBag.Title = "自定义列表";
    Layout = "~/Views/Shared/_WebmasterLayout.cshtml";
}

@section scripts{
    <script>
        var _columns = [];
        //自定义列
        $(function () {

            $('#dg').datagrid({
                title: '自定义列表：@Model.TableName',
                singleSelect: true,
                toolbar: '#toolbar',
                pagination: true,
                rownumbers: true,
                fitcolumns: true,
                url: '/api/APIDynamicData',
                method: 'get',
                queryParams: {
                    TableCode: '@Model.TableCode',
                    IsPaging: true,
                    Columns: [
                        @{
                            for (int i = Model.ListColumns.Count()-1; i >=0 ; i--)
                            {
                                var item = Model.ListColumns.ElementAt(i);
                                <text>'@item.Code'</text>
                                if (i > 0)
                                {
                                    <text>,</text>
                                }

                            }
                          }
                    ]
                }
            });


        });

        function deleteRecord() {
            var row = $('#dg').datagrid('getSelected');
            if (row == null) {
                $.messager.alert('信息', '请先选中记录。', 'info'); return;
            }
            else {
                $.messager.confirm('删除', '你确定要删除记录吗？', function (r) {
                    if (r) {
                        $.ajax({
                            type: 'delete',
                            url: '/api/APIDynamicData',
                            data: {
                                TableCode: '@Model.TableCode',
                                DataID: row.ID
                            },
                            success: function () {
                                $('#dg').datagrid('reload');
                            }
                        });
                        
                    }
                })
            }
            
        }
        function editRecord() {
            var row = $('#dg').datagrid('getSelected');
            if (row == null) {
                $.messager.alert('信息', '请先选中记录。', 'info'); return;
            }
            else {
                location.href = "/DynamicTable/editData?tcode=@(Model.TableCode)&id=" + row.ID;
            }
        }
    </script>
}
<table id="dg" style="width: auto; height: auto">
    <thead>
        <tr>
            @foreach (var column in Model.ListColumns)
            {
                <th data-options="field:'@column.Code'">@column.Name</th>
            }
        </tr>
    </thead>
</table>
<div id="toolbar" style="padding: 10px 0;">
    <a href="/DynamicTable/AddData?tcode=@Model.TableCode" class="easyui-linkbutton" iconcls="icon-page-add" plain="true">添加记录</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-page-edit" plain="true" onclick="editRecord()">编辑记录</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-page-delete" plain="true" onclick="deleteRecord()">删除记录</a>
</div>
